@import url('https://fonts.googleapis.com/css?family=Chivo:400,700');

.clearfix {
	clear: both;
}

body {
	font-family: 'Chivo', sans-serif;
	color: #003300;
}

a {
	outline: 0;
}

.AuthLoader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: white;
	z-index: 1000;
	display: table;
}

.AuthLoader__loader-container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.AuthLoader__loader-container img {
	width: 100px;
}

.content-container.LogInView {
	margin-top: 20px;
}

.LogInView__logo {
	display: block;
	margin: 0 auto 50px auto;
	width: 340px;
}

.LogInView p {
	text-align: center;
	font-size: 18px;
}

.LogInView p span {
	display: block;
	font-size: 16px;
	margin-top: 12px;
}

.LogInView__form {
	margin-top: 40px;
}

.LogInView__form h2 {
	text-align: center;
	font-weight: bold;
	color: #222722;
}

.LogInView__form form {
	width: 40%;
	margin: 40px auto;
}

.LogInView__form form label {
	margin-bottom: 3px;
}

.LogInView__form form button {
	display: block;
	margin: 0 auto;
	width: 100%;
	background-color: #08ae23;
	color: white;
	padding: 8px 20px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

.LogInView__form form button:hover {
	background-color: #039b1c;
}

.LogInView__form form input {
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: #222722;
	display: block;
	width: 100%;
	padding: 6px 14px;
}

.LogInView__form form input:focus {
	border-color: #08ae23;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
}

.LogInView__form--loader {
	width: 110px;
	margin: 26px auto 48px auto;
	display: block;
}

.LogInView__form--switch {
	display: block;
	text-align: center;
}

.LogInView__form--switch span {
	color: #079b1f;
	text-decoration: underline;
	cursor: pointer;
}

.LogInView__form--switch span:hover {
	text-decoration: none;
}

.LogInView__notify {
	display: block;
	width: 70%;
	margin: 20px auto;
	padding: 20px 0 20px 30px;
	border-radius: 5px;
	color: #222722;
}

.LogInView__logout-confirm {
	background-color: rgba(3, 155, 28, 0.1);
	border: 2px solid #039b1c;
}

.LogInView__session-expired {
	background-color: rgba(242, 198, 52, 0.1);
	border: 2px solid #F2C634;
}

.LogInView__error {
	background-color: rgba(191, 35, 23, 0.1);
	border: 2px solid #c22317;
}

.Header {
	border-bottom: 1px solid #b5c4b7;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	z-index: 999;
}

.Header-container {
	min-width: 900px;
}

.Header img {
	width: 160px;
	display: inline;
	float: left;
}

.Header nav {
	width: 60%;
	float: right;
	text-align: right;
	position: relative;
	top: 11px;
}

.Header nav a {
	margin-left: 80px;
	color: #003300;
}

.Header nav a:hover {
	text-decoration: none;
	color: #08ae23;
}

.Footer {
	border-top: 1px solid #b6bdb5;
	margin: 100px auto 18px auto;
	padding-top: 10px;
	color: #737972;
}

.Footer p,
.Footer__links {
	float: right;
}

.Footer__links {
	font-size: 14px;
	margin-right: 80px;
	position: relative;
	bottom: 4px;
}

.Footer__links a {
	color: #737972;
}

.Footer__links a:hover {
	text-decoration: none;
	color: #535a52;
}

.Footer__link-separator {
	font-size: 20px;
	margin: 0 14px;
	position: relative;
	top: 1px;
}

.Footer img {
	height: 26px;
}

.nav__today-link {
	background-color: #08ae23;
	padding: 10px 30px;
	border-radius: 7px;
	color: white !important;
	border: 2px solid #079b1f;
}

.nav__today-link:hover {
	background-color: #0bbb28;
}

.content-container {
	width: 950px;
	margin: 114px auto 0 auto;
}

.DaySelect {
	margin: 0 0 0 84px;
	width: 300px;
	position: relative;
	float: left;
}

.DaySelect--today-button {
	position: absolute;
	top: -26px;
	left: 127px;
}

.DaySelect__arrow {
	width: 18px;
	height: 30px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	bottom: 8px;
}

.DaySelect__arrow.left {
	margin-right: 26px;
	background: url('resources/left-arrow-icon.png') left no-repeat;
	background-size: 90%;
}

.DaySelect__arrow.left:hover {
	background-image: url('resources/left-arrow-icon-hover.png');
}

.DaySelect__arrow.right {
	margin-left: 26px;
	background: url('resources/right-arrow-icon.png') left no-repeat;
	background-size: 90%;
}

.DaySelect__arrow.right:hover {
	background-image: url('resources/right-arrow-icon-hover.png');
}

.DaySelect__choose {
	cursor: pointer;
}

.DaySelect__choose:hover .DaySelect__calendar {
	background-image: url('resources/calendar-icon-hover.png');
}

.DaySelect__calendar {
	width: 46px;
	height: 50px;
	background: url('resources/calendar-icon.png') left no-repeat;
	background-size: 100%;
	display: inline-block;
}

.DaySelect__daytext {
	font-size: 18px;
	position: relative;
	bottom: 16px;
	padding-left: 20px;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.DayPicker {
	position: absolute;
	top: -8px;
	left: 40px;
	background: white;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	z-index: 1;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
}

.DayPicker .DayPicker-Day--selected {
	background-color: #08ae23 !important;
}

.Calotron {
	float: right;
	text-align: right;
	margin-right: 28px;
	position: relative;
	bottom: 12px;
}

.Calotron img {
	width: 110px;
	margin: 32px 0 50px 0;
}

.Calotron__net {
	display: block;
	font-size: 54px;
	font-weight: bold;
	color: #222722;
}

.Calotron__plusminuscontainer {
	display: block;
	position: relative;
	bottom: 10px;
}

.Calotron__plusminus {
	display: block;
	width: 125px;
	margin: 0 auto;
	text-align: center;
	font-size: 15px;
}

.Calotron__plusminus--food {
	color: red;
	margin-right: 20px;
}

.Calotron__plusminus--exercise {
	color: green;
}

.MealGroup {
	margin-bottom: 60px;
}

.MealGroup__header {
	background-color: #efefef;
	padding: 9px 28px;
	border-radius: 8px;
}

.MealGroup__header--edit {
	width: 18px;
	position: relative;
	bottom: 1px;
	margin-right: 39px;
	opacity: 0.7;
}

.MealGroup__header--type {
	font-weight: bold;
	font-size: 17px;
	position: relative;
	top: 2px;
	display: inline-block;
	width: 360px;
}

.MealGroup__header--macros img {
	max-height: 26px;
	margin-right: 100px;
}

.MealGroup__header--macros img:last-child {
	margin: 0;
}

.MealGroup__header--caltotal {
	font-size: 22px;
	font-weight: bold;
	float: right;
	position: relative;
	bottom: 2px;
}

.MealItem {
	height: 90px;
	padding: 0 30px;
}

.MealItem,
.StatsDayItem {
	border-bottom: 1px solid #b5c4b7;
}

.StatsDayItem {
	padding: 17px 30px;
}

.MealItem.editing,
.AddableFoodItem.adding {
	border-bottom-color: #08ae23;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.MealItem.editing {
	height: 150px;
}

.AddableFoodItem.deleting {
	border-bottom-color: #c22317;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.MealItem:hover,
.StatsDayItem:hover {
	background-color: #fafafa;
}

.MealItem.editing:hover,
.AddableFoodItem.adding:hover {
	background-color: white;
}

.MealItem__edit,
.MealItem__save {
	float: left;
	cursor: pointer;
}

.MealItem__edit {
	width: 18px;
	margin-right: 38px;
	position: relative;
	top: 34px;
	visibility: hidden;
}

.MealItem__save {
	width: 26px;
	margin-right: 30px;
	position: relative;
	top: 34px;
	right: 6px;
}

.MealItem:hover .MealItem__edit {
	visibility: visible;
}

.MealItem__food {
	width: 310px;
	height: 90px;
	display: table;
	float: left;
}

.MealItem__food .MealItem__food--info {
	display: table-cell;
	vertical-align: middle;
}

.MealItem__food span {
	display: block;
	line-height: 20px;
}

.MealItem__food--quantity {
	font-size: 13px;
	color: #8b9b8b;
}

.MealItem__macros {
	margin-left: 46px;
}

.MealItem__macros,
.MealItem__calories {
	position: relative;
	top: 8px;
}

.DayView .MealItem__macros,
.DayView .MealItem__calories {
	position: relative;
	top: 32px;
}

.MealItem__macros,
.MealTotals__macros {
	display: block;
	float: left;
	width: 400px;
}

.MealItem__macros span,
.MealTotals__macros span {
	width: 33px;
	display: inline-block;
	text-align: center;
	margin-right: 98px;
}

.MealItem__macros span:last-child {
	margin: 0;
}

.MealItem__calories {
	float: right;
	font-size: 18px;
	font-weight: bold;
}

#ServingSelect {
	animation-duration: 0.7s;
	-moz-animation-duration: 0.7s;
}

.MealItem .ServingSelect {
	margin: 0 0 0 56px;
}

.MealItem .ServingSelect .ServingSelect__add-button {
	display: none;
}

.AddableFoodItem .ServingSelect .ServingSelect__remove-button {
	display: none;
}

.AddableFoodItem .ServingSelect,
.AddableFoodItem .ItemDeleteButton {
	margin: 18px 0 0 74px;
}

.ServingSelect__add-button,
.ServingSelect__remove-button {
	background-color: #08ae23;
	color: white;
	padding: 6px 20px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	margin-right: 30px;
}

.ServingSelect__remove-button {
	background-color: white;
	color: #c22317;
	text-decoration: underline;
}

.ServingSelect__remove-button.removing {
	color: #8F8F8F;
	text-decoration: none;
}

.ServingSelect__remove-button:focus {
	outline: none;
}

.ServingSelect__add-button:hover {
	background-color: #039b1c;
}

.ServingSelect__remove-button:hover {
	text-decoration: none;
}

.ServingSelect input {
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	height: 36px;
	width: 60px;
	padding: 0 10px;
	text-align: center;
}

.ServingSelect input:focus {
	border-color: #08ae23;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
}

.ServingSelect select {
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	height: 36px;
	width: auto;
	padding: 0 10px;
	margin: 0 16px 0 8px;
}

.ServingSelect select:focus {
	border-color: #08ae23;
}

.ItemDeleteButton {
	cursor: pointer;
	background: #c22317;
	padding: 8px 24px;
	border-radius: 6px;
	color: white;
	width: 40%;
}

.ItemDeleteButton:hover {
	background-color: #B22015;
}

.AddFoodItem {
	border-bottom: 1px solid #b5c4b7;
	padding: 18px 30px 18px 23px;
}

.AddFoodItem__link {
	color: #003300;
}

.AddFoodItem__link:hover {
	color: #08ae23;
	cursor: pointer;
	text-decoration: none;
}

.AddFoodItem img {
	width: 25px;
	margin-right: 40px;
}

.AddFoodItem span {
	position: relative;
	top: 1px;
}

.MealTotalsRow {
	padding: 10px 30px 10px 88px;
	font-weight: bold;
	font-size: 18px;
}

.MealTotalsRow__label {
	float: left;
	display: block;
	width: 356px;
	font-size: 16px;
	cursor: default;
}

.MealTotals__calories {
	float: right;
}

.ActivityInput {
	margin-bottom: 70px;
}

.ActivityInput img {
	width: 40px;
	margin-right: 10px;
}

.ActivityInput span {
	font-size: 20px;
	position: relative;
	top: 3px;
}

span.ActivityInput__calslabel {
	font-size: 24px;
	color: #767676;
	position: relative;
	top: 0;
}

span.ActivityInput__calslabel.active {
	color: #070000;
}

.ActivityInput input {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid #98a299;
	width: 60px;
	text-align: center;
	margin-left: 10px;
	font-size: 24px;
}

.ActivityInput input.active {
	border-color: #08ae23;
}

.NetCalories {
	padding: 0;
	color: #222722;
	height: 126px;
}

.NetCalories__number {
	font-size: 44px;
	font-weight: bold;
	padding-right: 18px;
}

.NetCalories__label {
	position: relative;
	bottom: 9px;
}

.NetCalories__equation {
	display: block;
	width: 100%;
}

.NetCalories__number.food {
	color: #c22317;
}

.NetCalories__number.exercise {
	color: #08ae23;
}

.NetCalories__number.net {
	font-size: 54px;
	float: right;
	padding: 0;
}

.NetCalories__minussign,
.NetCalories__equals {
	font-size: 54px;
	font-weight: bold;
	padding: 0 34px;
}

.NetCalories__equals {
	padding: 0 0 0 56px;
}

.NetCalories__goaldifference {
	display: block;
	float: right;
	font-weight: bold;
	font-size: 30px;
	position: relative;
	bottom: 20px;
}

.NetCalories__goaldifference.under {
	color: green;
}

.NetCalories__goaldifference.over {
	color: #c22317;
}

.MacroTotals {
	padding: 0;
}

.MacroTotals__macro {
	margin-right: 50px;
}

.MacroTotals__macro.protein {
	margin-right: 0;
}

.MacroTotals__label {
	font-size: 20px;
	margin-right: 30px;
}

.MacroTotals__macro img {
	max-height: 26px;
	position: relative;
	bottom: 4px;
	margin-right: 12px;
}

.MacroTotals__macro--value {
	font-weight: bold;
	font-size: 22px;
	color: #222722;
	margin-right: 8px;
}

.MacroTotals__macro--goaldifference {
	position: relative;
	bottom: 2px;
}

.MacroTotals__macro--goaldifference.under {
	color: #487F3D;
}

.MacroTotals__macro--goaldifference.over {
	color: #854040;
}

.MacroTotals__caloriesgoal {
	float: right;
	font-size: 20px;
	color: #6c6c6c;
}

.MacroTotals__caloriesgoal a {
	text-decoration: underline;
	color: #2F822F;
}

.MacroTotals__caloriesgoal a:hover {
	text-decoration: none;
}

.OnboardingMessage {
	margin-bottom: 60px;
	border-bottom: 3px solid #08ae23;
	padding: 6px 30px;
}

.OnboardingMessage h3 {
	font-weight: bold;
	margin-bottom: 16px;
}

.OnboardingMessage p a {
	color: #079b1f;
	text-decoration: underline;
}

.OnboardingMessage p a:hover {
	text-decoration: none;
}

h1.page-title {
	font-weight: bold;
	font-size: 26px;
}

.SearchFood {
	margin-bottom: 30px;
}

.SearchFood h1 {
	display: inline-block;
	margin-right: 15px;
}

.SearchFood input {
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	height: 36px;
	width: 70%;
	position: relative;
	bottom: 2px;
	padding: 0 15px;
}

.SearchFood input:focus {
	border-color: #08ae23;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
}

.SearchFood.with-meal-context input {
	width: 50%;
}

.SearchResults__error {
	margin-top: 60px;
	text-align: center;
}

.FoodsPanel__tabs {
	margin-bottom: 26px;
}

.FoodsPanel__tabs span {
	padding: 0 10px 4px 10px;
	margin-right: 34px;
	font-size: 17px;
	cursor: pointer;
}

.FoodsPanel__tabs span.current {
	font-weight: bold;
	border-bottom: 4px solid #08ae23;
}

span.FoodsPanel__tab--createfoodbutton {
	text-transform: lowercase;
	margin-left: 14px;
	margin-right: 0;
	display: none;
}

#FoodsPanel__tabs--loader {
	width: 100px;
	position: relative;
	bottom: 4px;
}

span.small-button {
	padding: 4px 10px 4px 10px;
	font-size: 14px;
	font-weight: normal;
	color: #eeeeee;
	cursor: pointer;
	background: #308bdf;
	border-radius: 2px;
}

.small-button:hover {
	text-decoration: underline;
}

span.FoodsPanel__tab--createfoodbutton.current {
	display: inline-block;
	font-weight: normal;
	border: none;
	margin-right: 34px;
}

span.FoodsPanel__edit-foods {
	padding: 0;
	margin: 0 20px 0 0;
	color: #c22317;
	border-bottom: 0px solid #D9291C;
	font-size: 15px;
	display: none;
}

span.FoodsPanel__edit-foods.current {
	display: inline-block;
	font-weight: normal;
	border-bottom: 0px solid #D9291C;
}

span.FoodsPanel__edit-foods:hover {
	border-bottom-width: 1px;
	color: #D9291C;
}

span.FoodsPanel__edit-foods.current.edit-mode {
	font-size: 15px;
	color: #003300;
	padding: 6px 24px;
	border: 2px solid #c22317;
	border-radius: 6px;
	cursor: default;
}

span.FoodsPanel__edit-foods--done-link {
	padding: 0 0 0 4px;
	margin: 0;
	font-size: 15px;
	color: #07961E;
	text-decoration: underline;
}

span.FoodsPanel__edit-foods--done-link:hover {
	color: #067D19;
	text-decoration: none;
}

.FoodsPanel__header {
	padding: 9px 28px;
	border-radius: 8px;
}

.FoodsPanel__header--macros {
	margin-left: 434px;
}

.FoodsPanel__header--macros img {
	max-height: 26px;
	margin-right: 100px;
}

.FoodsPanel__header--macros img:last-child {
	margin: 0;
}

.AddableFoodItem,
.AddableMealItem {
	border-bottom: 1px solid #b5c4b7;
	padding: 17px 30px;
}

.AddableMealItem {
	height: 76px;
	position: relative;
}

.AddableMealItem.expanded {
	height: auto;
	border-bottom-color: #5794e7;
	box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
	cursor: default;
}

.AddableMealItem.expanded:hover {
	background: #ffffff;
	cursor: default;
}

.AddableMealItem.expanded img.addable-item__plus {
	position: relative;
	right: 6px;
	top: -2px;
}

img.addable-item__delete {
	cursor: pointer;
	padding: 16px;
	position: absolute;
	top: 64px;
	left: 18px;
	width: 64px;
}

.AddableMealItem.expanded .AddableMealItem__meal-name {
	font-weight: bold;
	font-size: 1.1em;
}

.AddableFoodItem:hover,
.AddableMealItem:hover {
	background-color: #fafafa;
	cursor: pointer;
}

.AddableMealItem__food-items {
	margin-top: 14px;
	padding-bottom: 10px;
}

.AddableMealItem__food-items .items {
	margin-bottom: 14px;
}

.AddableMealItem__meal-name--input {
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	height: 36px;
	width: 280px;
	padding: 0 10px;
	font-weight: bold;
}

.AddableMealItem__meal-name--input:focus {
	border-color: #5794e7;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
}

.food-item-row {
	padding: 6px 0 20px 80px;
}

.food-item-row img {
	width: 32px;
	margin-right: 16px;
	position: relative;
	bottom: 1px;
	padding: 4px;
	cursor: pointer;
}

.food-item-row .ServingSelect {
	padding: 8px 0 0 48px;
}

.addable-item__plus {
	float: left;
	width: 36px;
	margin-right: 38px;
	position: relative;
	top: 3px;
}

.AddableMealItem.expanded .addable-item__plus {
	cursor: pointer;
	padding: 8px;
	width: 52px;
	margin-right: 30px;
}

.AddableFoodItem .MealItem__food {
	display: table;
	height: 40px;
}

.AddableFoodItem .MealItem__food--name {
	display: table-cell;
	vertical-align: middle;
}

.AddableMealItem__meal-name {
	position: relative;
	top: 8px;
}

.MyMeals:not(.edit-mode) .AddableMealItem:not(.expanded) .AddableMealItem__meal-name {
	left: 9px;
}

.CreateMealItem .AddableMealItem__meal-name {
	top: 3px;
}

.AddableMealItem__no-food-items-message {
	display: block;
	font-size: 0.9em;
	padding-left: 82px;
	margin: 36px 0;
}

.AddableMealItem__add-foods-button {
	font-size: 1.1em;
	color: #003300;
	padding: 16px 20px;
	transition: color .1s ease-in-out;
	margin-left: 64px;
}

.AddableMealItem__add-foods-button:hover {
	color: #009200;
	text-decoration: none;
}

.AddableMealItem__add-foods-button img {
	width: 26px;
	margin-right: 22px;
	position: relative;
	bottom: 1px;
}

.FoodsPanel__cancel-link {
	display: block;
	position: fixed;
	bottom: 0%;
	width: 100%;
	background: white;
	padding: 22px 0;
	border-top: 1px solid #b5c4b7;
	box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.03);
	z-index: 1;
}

.FoodsPanel__cancel-link a {
	color: #c22317;
}

.FoodsPanel__cancel-link .FoodsPanel__context {
	margin-right: 30px;
}

.FoodsPanel__done-button {
	background-color: #08ae23;
	color: white;
	padding: 6px 20px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	transition: background-color .2s ease-in-out;
}

.FoodsPanel__done-button:hover {
	background-color: #039b1c;
}

.FoodsPanel__done-button img {
	width: 18px;
	margin-right: 10px;
	position: relative;
	bottom: 1px;
}

.MyFoods__no-foods {
	display: block;
	text-align: center;
	margin-top: 80px;
}

.CreateMealItem__create-button {
	margin-top: 26px;
	background-color: #ffffff;
	border: 2px solid #08ae23;
	border-radius: 10px;
	padding: 16px 40px;
	cursor: pointer;
	transition: background-color .2s ease-in-out, border .2s ease-in-out, box-shadow .2s ease-in-out, color .2s ease-in-out;
}

.CreateMealItem__create-button:hover {
	background-color: #08ae23;
	border-color: #046213;
	color: #ffffff;
}

.CreateMealItem__create-button img {
	width: 36px;
	margin-right: 24px;
}

.CreateFoodView__form {
	margin-top: 20px;
}

.CreateFoodView__form label {
	margin: 0 0 3px 10px
}

.CreateFoodView__form input {
	display: block;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	height: 36px;
	width: 50%;
	padding: 0 10px;
	margin-bottom: 20px;
}

.CreateFoodView__form input:focus {
	border-color: #08ae23;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
}

.CreateFoodView__form input#servingsize {
	width: 25%;
}

.CreateFoodView__nutrition-separator {
	display: block;
	margin: 50px 0 26px 80px;
	font-weight: bold;
}

.CreateFoodView__nutrition-separator:before {
	display: block;
	width: 70px;
	content: "";
	border-top: 3px solid #003300;
	position: relative;
	top: 14px;
	right: 78px;
}

.CreateFoodView__nutrition-separator:after {
	display: block;
	width: 90%;
	content: "";
	border-top: 3px solid #003300;
	position: relative;
	bottom: 13px;
	left: 98px;
}

.CreateFoodView__inputgroup {
	width: 50%;
	float: left;
	margin-bottom: 40px;
}

.CreateFoodView__input img {
	width: 100%;
}

.CreateFoodView__input--image {
	display: block;
	height: 30px;
	width: 30px;
	float: left;
	position: relative;
	top: 29px;
	margin-right: 18px;
}

.CreateFoodView__input input {
	width: 65%;
}

.CreateFoodView__submit-button {
	background-color: #08ae23;
	color: white;
	padding: 12px 20px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	margin-right: 30px;
}

.CreateFoodView__submit-button:hover {
	background-color: #039b1c;
}

.cancel-link,
.cancel-link:hover {
	color: #c22317;
}

.StatisticsView .page-title {
	width: 254px;
	float: left;
}

.StatisticsView__week-select {
	width: 600px;
	float: left;
}

.StatisticsView .DayPickerInput input {
	width: 120px;
	text-align: center;
	margin: 0 10px;
}

.StatisticsView__refresh-button {
	width: 26px;
	position: relative;
	bottom: 2px;
	left: 14px;
	cursor: pointer;
}

.StatisticsView__refresh-button.inactive {
	cursor: default;
}

.StatisticsView__refresh-button.refreshing {
	width: 66px;
}

.StatisticsView__no-consumptions {
	display: block;
	margin-top: 60px;
	text-align: center;
}

.StatisticsView__no-consumptions img {
	width: 50px;
	margin-right: 20px;
	position: relative;
	bottom: 2px;
}

.StatsTable {
	margin: 30px 0 80px 0;
}

.StatsTable .MealGroup__header {
	background: none;
}

.StatsTable .MealGroup__header--macros {
	margin-left: 230px;
}

.StatsTable .MealGroup__header--macros img {
	margin-right: 70px;
}

.StatsDayItem {
	padding: 22px 30px 22px 30px;
}

.StatsDayItem__day {
	width: 225px;
	display: block;
	float: left;
}

.StatsDayItem__macros {
	display: block;
	float: left;
}

.StatsDayItem__macros span {
	width: 33px;
	display: inline-block;
	text-align: center;
	margin-right: 65px;
}

.StatsDayItem__macros span:last-child {
	margin: 0;
}

.StatsDayItem__calories {
	float: right;
	font-size: 18px;
	font-weight: bold;
}

.StatsTotalsRow {
	padding: 10px 30px 10px 30px;
	font-weight: bold;
	font-size: 18px;
}

.StatsTotalsRow__label {
	float: left;
	display: block;
	width: 226px;
	font-size: 16px;
	cursor: default;
	position: relative;
	top: 2px;
}

.StatsTotalsRow__macros {
	display: block;
	float: left;
	width: 570px;
}

.StatsTotalsRow__macros span {
	width: 33px;
	display: inline-block;
	text-align: center;
	margin-right: 65px;
}

.StatsTotalsRow__macros span.micro {
	font-weight: normal;
}

.StatsTotalsRow__macros span:last-child {
	margin: 0;
}

.WeekAverages {
	color: #222722;
	margin-bottom: 80px;
}

.WeekAverages h2 {
	text-align: center;
	font-size: 22px;
	color: #006f12;
}

.WeekAverages__calories {
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
	font-weight: bold;
	font-size: 32px;
	position: relative;
}

.WeekAverages__calories--label {
	font-size: 24px;
	position: relative;
	bottom: 5px;
	font-weight: normal;
	margin-right: 20px;
}

.WeekAverages__calories--value {
	font-size: 44px;
}

.WeekAverages__calories .WeekAverages__difference {
	font-size: 22px;
	position: relative;
	bottom: 6px;
	margin-left: 26px;
}

.WeekAverages__goals-button {
	position: absolute;
	bottom: 38px;
	right: 30px;
}

.WeekAverages__table {
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-width: 0;
	border-bottom-width: 0;
	width: 90%;
	margin: 0 auto;
	font-weight: bold;
	font-size: 20px;
}

.WeekAverages__nutrient-row {
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.WeekAverages__nutrient-row img {
	width: 30px;
	margin-right: 15px;
}

.WeekAverages__column {
	padding: 20px 0 20px 130px;
	height: 72px;
}

.WeekAverages__column:hover,
.WeekAverages__calories:hover {
	background-color: #fafafa;
}

.WeekAverages__nutrient-row span.WeekAverages__column {
	display: inline-block;
	width: 50%;
}

.WeekAverages__column.left {
	border-right: 1px solid rgba(0, 0, 0, 0.6);
}

.WeekAverages__difference {
	font-size: 17px;
	margin-left: 10px;
	font-weight: normal;
}

.WeekAverages__table .WeekAverages__nutrient-row:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.MyAccountView h1 {
	margin-bottom: 30px;
}

.MyGoals__form--input {
	width: 25%;
	float: left;
}

.MyGoals__form label {
	margin: 0 0 3px 10px
}

.MyGoals__form input {
	display: block;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	height: 36px;
	width: 80%;
	padding: 0 10px;
	margin-bottom: 20px;
}

.MyGoals__form input:focus {
	border-color: #08ae23;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
}

.MyGoals__form button {
	margin-top: 25px;
}

.MyGoals__form button.saving {
	background-color: #BDBDBD;
	cursor: default;
}

.MyGoals__form--save-success {
	color: #056E46;
}

#save-success-message {
	animation-duration: 1.8s;
	-moz-animation-duration: 1.8s;
}

.MyAccountView__account-functions {
	margin-top: 70px;
}

.MyAccountView__account-functions p:first-child {
	margin-bottom: 0;
}

.MyAccountView__logout-link {
	cursor: pointer;
	text-decoration: underline;
	color: #c22317;
	display: inline-block;
}

.MyAccountView__logout-link:hover {
	text-decoration: none;
}