@import url('https://fonts.googleapis.com/css?family=Chivo:300,400,700');

.clearfix {
	clear: both;
}

.Header {
	border-bottom: 1px solid #b5c4b7;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
	padding: 10px 0;
	font-family: 'Chivo', sans-serif;
}

.Header img {
	width: 160px;
	display: inline;
	float: left;
}

.Header nav {
	width: 60%;
	float: right;
	text-align: right;
	position: relative;
	top: 11px;
}

.Header nav a {
	margin-left: 100px;
	color: #003300;
}

.Header nav a:hover {
	text-decoration: none;
	color: #08ae23;
}

.nav__today-link {
	background-color: #08ae23;
	padding: 10px 30px;
	border-radius: 7px;
	color: white !important;
	border: 2px solid #079b1f;
}

.nav__today-link:hover {
	background-color: #0bbb28;
}